<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body></body>

</html>

<script>
	let code = new URL(window.location.href).searchParams.get('code');
	console.log(code)

	async function run() {
		const response = await fetch("http://localhost:3000/auth/signinup", {
			method: "POST",
			headers: {
				"rid": "thirdparty",
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				code,
				redirectURI: "http://localhost:3000/auth/callback/google",
				thirdPartyId: "google"
			}),
		});

		document.write("success");
		// console.log(response.body)
		// response.json().then((res) => {
		// 	console.log(res)
		// })
	}
	run()
</script>